/**
 * Table of Contents
 *
 * 1.0 - Google Font
 * 2.0 - General Elements
 * 3.0 - Site Header
 *   3.1 - Logo
 *   3.2 - Main Navigation
 *     3.2.1 - Main Nav CSS 3 Hover Effect
 * 4.0 - Home/Blog
 *   4.1 - Read More Button CSS 3 style
 * 5.0 - Widget
 * 6.0 - Footer
 * 7.0 - Header Search Bar
 * 8.0 - Mobile Menu
 * 9.0 - Contact Page Social
 * 10.0 - Contact Form
 * 11.0 - Media Query
 * 12.0 - Comment
 * 13.0 - Pagination
 */

/**
 * 1.0 - Google Font
 */

/**
 * 2.0 - General Elements
 */

* {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

b {
    font-weight: 400;

}

a {
    color: #101010;

}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

::selection {
    background-color: #eee;
}

body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 1.25em;
    background-color:#fff;
    color: #333;
}

p {
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 0.9em;
}

#single p,
#page p {
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
}

.title {
    margin-bottom: 30px;
}

figure {
    margin-bottom: 25px;
}

img {
    max-width: 100%;
}

.img-responsive-center img {
    margin: 0 auto;
}

.height-40px {
    margin-bottom: 40px;
}

/**
 * 3.0 - Site Header
 */

.head-navbar{
    position: fixed;
    width:100%;
    height:60px;
    background-color: #808000;
    border-radius:0;
}

#site-header {
    height:60px;
    width:1300px;
    margin:0 auto;
    /*border:1px solid red;*/
}

.external{
    width:1200px;
    height:60px;
    /*border:1px solid yellow;*/
}

.copyrights {
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/**
 * 3.1 - Logo
 */
.logo-box {
    display:inline-block;
    width:150px ;
    height:48px ;
    float:left;
    margin-top:6px;
    margin-left:10px;


}

.logo {
    display:inline-block;
    width:150px;
    height:48px;
}

.logo h1 a {
    color:#ccc;
    font-size: 20px;
    font-family: STXingkai;
    line-height: 1.2
}

.logo h1 a:hover {
    /*
    text-decoration: none;
    border-bottom: none;
    */
    color: white;
    font-size:21px;
}

.logo h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 10px;
}

/**
 * 3.2 - Main Navigation
 */
.nav-right{
    display:inline-block;
    float:left;
    margin-left:50px;
    height:60px;
    width:600px;
    /*border:1px solid white;*/
}

.main-nav {
    display:inline-block;
    float:left;
    height:60px;
    width:350px;

}

.main-nav a {
    color: #ccc;
    padding: 2 0 5px 0 !important;
    margin-right: 30px;
    font-family: STXingkai;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}
.main-nav a:hover {
    background-color: transparent !important;
    border-bottom: 0;
    color:white;
    font-size:21px;
}


.navbar-list {
    display:inline-block;
    float:left;
    width:400px;
    height:30px;
    margin-top:15px;

}
.navbar-list a {
    display:inline-block;
    float:left;
}

/*用户登录*/
.login-registar {
    display:inline-block;
    float:right;
    width:60px;
    height:60px;
}
.nav-item {
    display:inline-block;
    float:right;
    margin-top:12px;

}

.nav-link {
    display:inline-block;
    float:right;
    top: 9px;
    margin: 5px 0px 0px 0px;
    font-family: STXingkai;
    font-size: 20px;
    color:#ccc;
    margin-top:12px;
}

.nav-link:hover{
    color:white;
    font-size:21px;
}

.nav-link-name {
    top: 0px;
    margin-right:2px;
    font-family: STXingkai;
    color:#ccc;
    font-size: 20px;
}

.nav-link-name:hover{
    color:white;
    font-size:21px;
}

.form-control {
    width: 20%;
}

.login {
    margin: 120px 20px 87px 400px;
}

.login-in {
    margin: 10px 10px 10px 10px;
}
/*登录按钮*/
.btn-primary {
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}
.login-button {
    color: #6c367d;
}

/*退出登录*/
.dropdown-menu {
    float: left;
    min-width: 100px;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-item {
    margin: 0px 0px 0px 0px;
}

/*
.main-nav a:active,
.main-nav a:focus,
*/
.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    margin-right: 25px;
}

.navbar-toggle span {
    font-size: 2em;
    color: #000;
}

/**
 * 7.0 - Header Search Bar
 */
.search-box{
    display:inline-block;
    float:right;
    width:200px;
    height:60px;
    margin-right:50px;
}

#searchform {
    display:inline-block;
    float:left;
    width:145px;
    height:33px;
    margin-top:15px;
}

.squair-box {
    display:inline-block;
    float:right;
    width:33px;
    height:33px;
    margin-top:15px;
    margin-right:22px;
}

#header-search-box {
    display:inline-block;
    float:right;

}

#search-menu span {
    font-size: 22px;
    color: #616060;
    margin-right:2px;
}

#search-menu span:hover{
    color:#020202;
}


#searchform input[type=search] {
    width: 100%;
    border: none;
    left: 0;
    padding: 6px 28px 6px 10px;
    z-index: 99;
    background-color:rgba(227,231,236,.2);;
}


#search-menu span.ion-ios-close-empty {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: -6px;
}
.ion-ios-search-strong::before{
    content: "\f4a4";
    margin-top:2px;
}

.squair-box button{
    display:inline-block;
    float:right;
    background-color: rgba(227,231,236,.2);
    outline:none;
    border-width:0px;
    width: 33px;
    height: 29px;
}
.squair-box button span {
    display:inline-block;
    float:right;
    font-size: 22px;
    width:30px;
    height:26px;
}
.squair-box button span:hover {
    font-size:23px;
    color:white;
}


/**
 * 3.2.1 - Main Nav CSS 3 Hover Effect
 */

.cl-effect-11 a {
    padding: 10px 0;
    color: #0972b4;
    text-shadow: none;
}

.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 0 5px 0 !important;
    max-width: 0;
    border-bottom: 1px solid #000;
    color: #000;
    content: attr(data-hover);
    white-space: nowrap;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}

/**
 * 4.0 - Home/Blog
 */

.content-body {
    padding-top:72px;
    background-color: lightgrey;
}

.content-box {

    margin: 0 auto;
    width:1144px;
    height: auto!important;
    overflow: hidden;
}

.content-left {
    float:left;
    width:788px;
    margin:0px 5px 2px 5px;
    background-color: white;

}

.content-right {
    width: 333px;
    float:right;
    background-color: white;
}


.post {
    padding: 30px 38px 1;
}

.entry-title {
    text-align: left;
    font-size: 1.63em;
    margin-bottom: 10px;
    font-weight: 449;
}

/* 小字简介样式 */
.entry-meta {
    text-align: left;
    color: #DDDDDD;
    font-size: 13px;
    margin-bottom: 10px;
}

/*文章字体样式*/
.entry-content {
    line-height: 26px;
    color: #333333;
    font-size: 16px !important;
    padding-top: 4px;
}

.entry-content p{
    margin:0 0 0 0;
    letter-spacing:0.1px;
}

.post-category::after,
.post-date::after,
.post-author::after,
.comments-link::after {
    content: ' ·';
    color: #000;
}

/**
 * 12.0 - Comment
 */
.comment-area {
    padding: 30px 38px 1;
}

.comment-form {
    margin-top: 26px;
    padding: 0 8px 0;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
    margin: 22px 0px 0px;
}

.comment-list-panel {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment-item:not(:last-child) {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-item .nickname,
.comment-item .submit-date {
    color: #777;
    font-size: 14px;
}

.comment-item .nickname:after {
    content: ' ·';
}

.comment-item .text {
    padding-top: 5px;
    font-size: 16px;
}

/**
 * 6.0 - Footer
 */
.footer-box{
    clear:both;
    margin:0 auto;
    background-color: #808000;
/*    border-top:1px solid #E8E8E8;
    padding:15px 0;
    font-family:tahoma,Arial;
    font-size:14px;
    color:#999;
    line-height:22px;
    text-align:center  */
    }

.white{
    height:8px;
    background-color:lightgrey;
}

.footer-nav{
    padding-top: 10px;
    text-align: center;
}

.footer-nav2{
    margin-top: 2px;
    text-align: center;
    line-height:20px;
}

.footer-nav a{
    letter-spacing:1px;
    color:#ccc;
}

.footer-nav2 p{
    letter-spacing:1px;
    color:#ccc;
    margin:0 0;
}
.footer-nav2 a{
    letter-spacing:1px;
    color:#ccc;
}


.footer a,.footer a:hover{color:#999}


#site-footer {
    padding-top: 10px;
    padding: 0 0 1.5em 0;
}

.copyright {
    text-align: center;
    padding-top: 1em;
    margin: 0;
    border-top: 1px solid #eee;
    color: #ccc;
    font-size: 1.2em;
}


/**
 * 4.1 - Read More Button CSS 3 style
 */

.read-more {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    word-spacing: -1px;
    letter-spacing: 0.01em;
    text-align: right;
    margin-top: 8px;
}

.cl-effect-14 a {
    padding: 0 20px;
    line-height: 45px;
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 1px;
    background: #C3C3C3;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cl-effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
    background: #000;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

/**
 * 5.0 - Widget
 */

.widget {
    background: #fff;
    padding: 30px 0 0;
}

.widget-title {
    font-size: 1.35em;
    margin-top: -22px;
    margin-bottom: 10px;
    line-height: 1.6;
    padding: 10px 0 0 15;
    font-weight: 540;
}

.widget-recent-posts ul {
    padding: 5;
    margin: 10;
    padding-left: 20px;
}

.widget-recent-posts ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-recent-posts ul li::before {
    content: '\f3d3';
    font-family: "Ionicons";
    position: absolute;
    left: -17px;
    top: 3px;
    font-size: 16px;
    color: #000;
}

.widget-archives ul {
    padding: 5;
    margin: 10;
    padding-left: 25px;
}

.widget-archives ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-archives ul li::before {
    content: '\f3f3';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 16px;
    color: #000;
}

.widget-category ul {
    padding: 5;
    margin: 10;
    padding-left: 25px;
}

.widget-category ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-category ul li::before {
    content: '\f3fe';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 18px;
    color: #000;
}

.widget-tag-cloud ul {
    padding: 5;
    margin: 10;
    margin-right: -10px;
}

.widget-tag-cloud ul li {
    list-style-type: none;
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 8px;
    border: 1px solid #ddd;
}

.widget-content ul ul {
    margin-top: 10px;
}

.widget-content ul li {
    margin-bottom: 10px;
}

.rss {
    font-size: 21px;
    margin-top: 30px;
}

.rss a {
    color: #444;
}


/**
 * 8.0 - Mobile Menu
 */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

.overlay .overlay-close {
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0;
    overflow: hidden;
    border: none;
    color: transparent;
    background-color: transparent;
    z-index: 100;
}

.overlay-hugeinc.open .ion-ios-close-empty {
    color: #000;
    font-size: 50px;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #000;
}

.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

/**
 * 9.0 - Contact Page Social
 */

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.social li a {
    border: 1px solid #888;
    font-size: 22px;
    color: #888;
    transition: all 0.3s ease-in;
}

.social li a:hover {
    background-color: #333;
    color: #fff;
}

.facebook a {
    padding: 12px 21px;
}

.twitter a {
    padding: 12px 15px;
}

.google-plus a {
    padding: 12px 15px;
}

.tumblr a {
    padding: 12px 20px;
}

/**
 * 10.0 - Contact Form
 */

.contact-form input,
.comment-form input {
    border: 1px solid #aaa;
    margin-bottom: 20px;
    width: 70%;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 100%;
    transition: 0.4s border-color linear;
    border-radius: 12px;
}

.contact-form textarea,
.comment-form textarea {
    border: 1px solid #aaa;
    margin-bottom: 0px;
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 15px !important;
    min-height: 140px;
    transition: 0.4s border-color linear;
    border-radius: 16px;
}

.contact-form input:focus,
.comment-form input:focus,
.contact-form textarea:focus,
.comment-form textarea:focus {
    border-color: #666;
}

.btn-send {
    background: none;
    border: 1px solid #aaa;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s;
}

.btn-5 {
    color: #666;
    height: 70px;
    min-width: 260px;
    line-height: 15px;
    font-size: 16px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-5 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn-5:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    font-size: 180%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5:active:before {
    color: #703b87;
}

.btn-5b:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-5b:before {
    left: -100%;
    top: 0;
}

.btn-5b:hover:before {
    left: 0;
}

/**
 * 11.0 - Media Query
 */

@media (max-width: 991px) {
    .main-nav a {
        margin-right: 20px;
    }

    #header-search-box {
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 767px) {
    #header-search-box {
        right: 20px;
        top: 9px;
    }

    .main-nav {
        margin-top: 2px;
    }

    .btn-5 span {
        display: none;
    }

    .btn-5b:before {
        left: 0;
    }
}

@media (max-width: 431px) {
    .logo h1 {
        margin-top: 8px;
        font-size: 24px;
    }

    .post {
        background: #fff;
        padding: 0 10px 0;
    }

    .more-link {
        font-size: 0.9em;
        line-height: 100%;
    }
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }

    .overlay ul li {
        min-height: 34px;
    }
}


/**
 * 13.0 - Pagination
 */
.pagination-simple {
    padding-left: 29px;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 540;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

.current a {
    color: red;
}

/**
 Ale supplement
 */
.navbar-right {
    float: right!important;
    margin-right: 50px;
}

/*中部body*/
.container {
    padding-top: 80px;
}
/*详情页内容字体样式*/
.news_txt {
    line-height: 30px;
    color: #333333;
    font-size: 16px !important;
    margin-bottom: 46px;
    letter-spacing: 0.5px;
}


/* 评论属性样式 */
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
}

/*发表评论样式*/
.h3 {
    font-size: 24px;
    font-weight: 545;
}



/* 评论样式 */
.justify-content-center {
    font-size:14px;
    margin:0px 0px 0px 0px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.5;
    padding: 0px 0px 0;
    font-weight: 460;
}

.comment-list {
    font-size:14px;
    margin:10px 0px 0px 0px;
}

/*用户注册*/
.register-login {
    font-size:33px;
    margin:10px 0px 0px 400px;
}