{% extends 'base.html' %}
{% load static %}

<!-- 中部body -->
{% block body %}
<div class="about-body">
    <div class="about-box">
        <div class="about">
            <div class="about-up">
                <div class="intro-box">
                    <div class="intro-left">
                        <img src="{% static 'blog/me.jpg' %}">
                    </div>
                    <div class="intro-right">
                            <h2 class="ale">Ale</h2>
                            <div class="list1">IT道路上攀爬的小学生</div>
                            <div class="list2">学无止境，不会就学</div>
                            <div class="list3">不懂就查，周而复始</div>
                    </div>
                </div>
            </div>

            <div class="about-center">
                <div class="about-me">
                 <h2>About me</h2>
                    <a>一句话概括</a>
                    <a>间歇性踌躇满志，持续性混吃等死</a>
                    <a>It's me！</a>
                    <a>白日梦想家、屌丝宅男</a>
                    <a>脱单苦难户</a>
                    <a>三分钟热度铁粉</a>
                    <a>哈哈哈</a>
                    <a>好奇宝宝</a>
                    <a>对世界充满着疑问与期待</a>
                    <a>热衷于IT技术、吉他、乒羽等</a>
                    <a>但无所精通</a>
                    <a>皆是初学小白水平</a>
                    <a>相信自己无数个三分钟热度的积累</a>
                    <a>最终。。。。</a>
                    <a>依旧是小白，哈哈哈</a>

                </div>

            </div>

            <div class="about-end">
                <div class="about-blog-name">
                    <h2>About blog</h2>
                    <a>博客名称：野有蔓草，零露漙兮</a>
                    <a>出自《国风·郑风·野有蔓草》</a>
                <a> </a>
                    <a>野有蔓草，零露漙兮。有美一人，清扬婉兮。邂逅相遇，适我愿兮。</a>
                    <a>野有蔓草，零露瀼瀼。有美一人，婉如清扬。邂逅相遇，与子偕臧。</a>
                <a> </a>
                    <a>一切尽在不言中</a>
                    <a>而这个博客存在之初就是为了</a>
                    <a>督促自己养成总结反思以及作为知识储备库而搭建的</a>
                    <a>虽然它时常间断且时常被我怀疑</a>
                    <a>但我还是希望</a>
                    <a>自己能够一直坚持下去！</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
