{% extends 'base.html' %}
{% load static %}

<!-- 中部body -->
{% block body %}
<div id="wrapper">
    <div class="about-body">
        <div class="about-box">
            <div class="about">
                <div class="about-up">
                    <div class="intro-box">
                        <div class="intro-left">
                            <img src="{% static 'blog/img/me.jpg' %}">
                        </div>
                        <div class="intro-right">
                            <h2 class="ale">阿乐</h2>
                            <div class="list1">IT路上攀爬的小学生</div>
                            <div class="list2">见贤思齐焉，见不贤而内自省也</div>
                            <div class="list3">一路前行，永不止步</div>
                        </div>
                    </div>
                </div>

                <div class="about-center">
                    <div class="about-me">
                        <h2>About me</h2>
                        <a>一句话概括</a>
                        <a>间歇性踌躇满志，持续性混吃等死</a>
                        <a>白日梦想家、屌丝宅男</a>
                        <a>脱单苦难户</a>
                        <a>三分钟热度铁粉</a>
                        <a>喜欢看小说、弹吉他、打乒羽等</a>
                        <a>好奇宝宝</a>
                        <a>对世界充满着热爱和期待</a>
                        <a>什么都想去尝试体验和学习</a>
                        <a>却都无所精通</a>
                        <a>皆是初学小白水平</a>
                        <a>但相信经过无数个三分钟热度的积累</a>
                        <a>最终。。。。</a>
                        <a>依旧是小白，哈哈哈</a>
                    </div>

                </div>

                <div class="about-end">
                    <div class="about-blog-name">
                        <h2>About blog</h2>
                        <a>开发搭建此博客是为了</a>
                        <a>通过这种实践型项目的兴趣点去扩展和发现感受技术的魅力</a>
                        <a>也是希望以此督促自己养成总结反思的习惯</a>
                        <a>虽然它也时常间断且时常被自我怀疑</a>
                        <a>但依然希望</a>
                        <a>自己可以一直坚持下去！</a>
                        <a>积土成山，风雨兴焉；积水成渊，蛟龙生焉；</a>
                        <a>积善成德，而神明自得，圣心备焉。</a>
                        <a>故不积跬步，无以至千里；不积小流，无以成江海。</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
