{% extends 'base.html' %}
{% load blog_extras %}

<!-- 中部body -->
{% block body %}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="content-left col-md-8">
                <div class="archive-content">
                    <ul class="archive-ul">
                        {% regroup post_list by created_time.year as year_post_group %}
                            {% for year in year_post_group %}
                            <li>{{ year.grouper }} 年
                                {% regroup year.list by created_time.month as month_post_group %}
                                    <ul>
                                        {% for month in month_post_group %}
                                            <li>{{ month.grouper }} 月
                                                <ul>
                                                    {% for post in month.list %}
                                                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </main>
            <aside class="content-right col-md-4">
                <!-- 最新文章模板标签 -->
                {% show_recent_posts %}
                <!-- 归档模板标签 show_archives -->
                <!-- 分类模板标签 -->
                {% show_categories %}
                <!-- 标签模板标签 -->
                {% show_tags %}
                <!-- RSS订阅
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
                -->
            </aside>
        </div>
    </div>
</div>
{% endblock body %}