{% extends 'base.html' %}


<!-- 中部body -->
{% block body %}
<div class="blogroll-body">
    <div class="blogroll-box">
        <div class="blogroll">
            <div class="blogroll-list">
                <div class="blogroll-list-box">
                    <h2>博客搭建</h2>
                    <a href="https://www.zmrenwu.com/">追梦人物的博客</a>
                    <a href="https://www.dusaiphoto.com/">杜赛的个人网站</a>
                    <a href="http://yshblog.com/">杨仕航的博客</a>
                    <a href="https://www.liujiangblog.com/">刘江的博客教程</a>
                    <a href="https://litets.com/">第八个部落</a>

                </div>
            </div>

            <div class="blogroll-list">
                <div class="blogroll-list-box">
                    <h2>运维相关</h2>
                    <a href="https://www.jellythink.com/">果冻想</a>
                    <a href="https://blog.slogra.com/">野空</a>
                    <a href="https://shanyue.tech/">山月行</a>
                </div>
            </div>

            <div class="blogroll-list">
                <div class="blogroll-list-box">
                    <h2>其他推荐</h2>
                    <a href="http://www.ruanyifeng.com/blog/computer/">阮一峰的网络日志</a>
                    <a href="https://www.liaoxuefeng.com/">廖雪峰的官方网站</a>
                    <a href="https://www.v2ex.com/">V2EX</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}