{% extends 'base.html' %}
{% load comments_extras %}
{% load blog_extras %}

{% block body %}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="content-left col-md-8">

                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ post.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ post.author }}</a></span>
                            <span class="comments-link"><a href="{{ post.get_absolute_url }}">{{ post.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <!-- 文章详情 -->
                    <div class="entry-content clearfix">
                        {{ post.body|safe }}
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3 class="entry-title">发表评论</h3>
                    {% if user.is_authenticated %}
                    <dev>
                        {% show_comment_form post %}
                        {% else %}
                        <br>
                        <h5 class="justify-content-center">
                            请<a class="login-button" href="{% url 'userprofile:login' %}">登录</a>后回复
                        </h5>
                        <br>
                        {% endif %}
                        <div class="comment-list-panel">
                            {% show_comments post %}
                        </div>
                    </dev>
                </section>

            </main>
            <aside class="content-right col-md-4">
                <!-- 最新文章模板标签 -->
                {% show_recent_posts %}
                <!-- 归档模板标签 show_archives -->
                <!-- 分类模板标签 -->
                {% show_categories %}
                <!-- 标签模板标签 -->
                {% show_tags %}
                <!-- RSS订阅
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
                -->
            </aside>

        </div>
    </div>
</div>

{% endblock body %}

{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');

</script>
{% endblock script %}