{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

<!-- 中部body -->
{% block body %}
<div class = "content-body">
  <div class="container">
    <div class="row">
        <main class="scene-left col-md-8">
            <div class="scene-out">
                <div class="life-photo">
                    <div class="photo-frame">
                        <img src="{% static 'blog/img/旅行.png' %}">
                    </div>
                </div>
                <div class="life-title">
                    <a>旅行</a>
                </div>
            </div>
            <div class="scene-out">
                <div class="life-photo">
                    <div class="photo-frame">
                        <img src="{% static 'blog/img/音乐.png' %}">
                    </div>
                </div>
                <div class="life-title">
                    <a>音乐</a>
                </div>
            </div>
            <div class="scene-out">
                <div class="life-photo">
                    <div class="photo-frame">
                        <img src="{% static 'blog/img/美食.png' %}">
                    </div>
                </div>
                <div class="life-title">
                    <a>美食</a>
                </div>
            </div>
            <div class="scene-out">
                <div class="life-photo">
                    <div class="photo-frame">
                        <img src="{% static 'blog/img/摄影.png' %}">
                    </div>
                </div>
                <div class="life-title">
                    <a>摄影</a>
            </div>

        </main>
    </div>
  </div>
</div>
{% endblock body %}







