{% load static %}
{% load blog_extras %}

<! DOCTYPE html>
<html lang="zh-cn">
<head>
  <!-- title -->
  <title>Ale_blog</title>
  <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}">

  <!-- meta -->
  <meta http-equiv="content-Type" charset="UTF-8">
  <meta name="keywords" content="阿乐博客、Ale、野有蔓草零露漙兮">
  <meta name="description" content="不积跬步无以至千里，不积小流无以成江河，记录成长过程中的点滴收获。">
  <!-- 为移动设备添加视口 -->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <!-- 优先使用IE最新版和chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/pace.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/highlights/github.css' %}">

  <script type="text/javascript" src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/pace.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/modernizr.custom.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/script.js' %}"></script>

  <!--ckeditor代码高亮prism静态文件-->
  <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'prism/prism.css' %}">

    <style>
        *{
	  margin:0;
	  padding:0;
	}
		a{
	  text-decoration:none;
	}
    </style>

</head>

<body>
<!--头部及导航栏-->
<div class="head-navbar">
    <header id="site-header">
        <div class="external">

            <div class="logo-box">
                <div class="logo ">
                    <h1><a href="{% url 'blog:index' %}">野有蔓草<br>&nbsp;&nbsp;零露漙兮</a></h1>
                </div>
            </div>

            <div class="nav-right">
                <nav class="main-nav " role="navigation">

<!--                    <div class="navbar-header">-->
<!--                        <button type="button" id="trigger-overlay" class="navbar-toggle">-->
<!--                            <span class="ion-navicon"></span>-->
<!--                        </button>-->
<!--                    </div>-->

                    <div class="navbar-list">
                            <a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <a href="contact.html" data-hover="碎碎念">碎碎念</a></li>
                            <a href="history.html" data-hover="脚印">脚印</a></li>
                            <a href="about.html" data-hover="自述">自述</a></li>

                        </ul>
                    </div>
                </nav>


                <div class="search-box">
                        <form role="search" method="get" action="{% url 'blog:search' %}">
                            <div id="searchform">
                                <input type="search" name="q" placeholder="搜索" required>
                            </div>
                            <div class="squair-box">
                                <button type="submit"><span class="ion-ios-search-strong"></span></button>
                            </div>
                        </form>
                </div>

            </div>


            <!-- Django的 if 模板语句 -->
            {% if user.is_authenticated %}
                <!-- 如果用户已经登录，则显示用户名下拉框 -->
                <div class="login-registar">
                    <li class="nav-item">
                        <a class="nav-link-name dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                        </div>
                    </li>
                </div>
            <!-- 如果用户未登录，则显示 “登录” -->
            {% else %}
                <div class="login-registar">
                    <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                </div>
            <!-- if 语句在这里结束 -->
            {% endif %}

        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
</div>

<!-- 中部body -->
<div class="content-body">
    <div class="content-box">
        <div class="content-row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>

            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <!-- 最新文章模板标签 -->
                {% show_recent_posts %}
                <!-- 归档模板标签 -->
                {% show_archives %}
                <!-- 分类模板标签 -->
                {% show_categories %}
                <!-- 标签模板标签 -->
                {% show_tags %}
                <!-- RSS订阅
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
                -->
            </aside>

        </div>
    </div>
</div>
<!--底部-->
<footer class="footer mt-20">
	<div class="container-fluid">
        <!--
		<nav> <a href="#" target="_blank">百寒成冰</a> <span class="pipe">|</span> <a href="#" target="_blank">滴水穿石</a> <span class="pipe">|</span> <a href="#" target="_blank">聚沙成塔</a> </nav>
		-->
		<p>Copyright &copy;2018-2019 Ale All Rights Reserved. <br>
			<a href="http://www.beian.gov.cn/portal/recordQuery?token=f5d6abf1-2511-4d48-b105-30b3c68daf08" target="_blank" rel="nofollow"> 鲁ICP备18030501号-2</a><br>
		</p>
	</div>
</footer>

<!-- Mobile Menu -->
<!--
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>
-->

{% block script %}{% endblock script %}
</body>
</html>
